<h3 class="p-3">Wydarzenia w parafii</h3>

<!--<pre>{{eventsList$ | async | json}}</pre>-->


<ng-container *ngIf="(parishEvents$ | async)">
<mat-card *ngFor="let item of (parishEvents$ | async)" class="mb-3">
  <div class="font-weight-bold app-title" (click)="onNavigateToDetails(item?.id)">{{ item.title }}</div>
  <div class="mb-2">{{ item.organizationAt }}</div>
<div class="d-flex align-items-center">
  <img class="events-img"
    [src]="'https://api-agappe.deployflex.com/' + 'image/' + item?.parish.image?.discriminator + '/' + item?.parish.image?.imageName + '.' + item?.parish.image?.extension">
</div>
</mat-card>
</ng-container>
